* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --bg-color: #ffffff;
  --bg2-color: #000;
  --primary-color: #000;
  --secondary-color: #0844bd;
  --tertiary-color: #ffffff;
  --default-width: 85%;
}
html {
  font-size: 62.5%;
}
section {
    width: var(--default-width);
}
/**** HEADER *****/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 4rem 0;
  width: var(--default-width);
}
.logo  {
  width: 100%;
  height: 100%;
}
/***** NAV ****/
.nav {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
}
.nav-list {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
}
.nav-list a {
  color: var(--primary-color);
}
.nav-list li {
    display: flex;
    flex-direction: column;
}
.hamburger-menu {
    font-size: 2rem;
}

/***** SECTION ONE HERO ****/

/***** SECTION TWO SKILLS  ****/

/***** SECTION THREE PROJECTS ****/

/***** SECTION FOUR ABOUT ME ****/

/***** SECTION FIVE FAQ ****/

/***** FOOTER  ****/
